@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

* {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
} 

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 25px;
    grid-template-rows: 1fr 1fr 7fr;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #cbd5e1;
    width: 90px;
    height: 30px;
}

button:hover {
    background-color: #9ca3af;
}

.header {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #e2e8f0;
    grid-row: 1;
    justify-self: stretch;
    align-self: start;
}

.newbook {
    grid-row: 2;
    
}

.book-cards {
    grid-row: 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-template-rows: repeat(auto-fit, minmax(50px, 250px));
}

.book-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
    text-align: left;
    height: 200px;
    width: 225px;
    border: none;
    border-radius: 8px;
    background-color: #bae6fd;
}

#remove {
    background-color: #f43f5e;
}

form,
.invisible {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-row: 3;
    gap: 10px;
    width: 350px;
    height: 200px;
    background-color: #94a3b8;
    border: none;
    border-radius: 8px;
}

.visible input,
.visible textarea,
.visible button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
