@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

* {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
} 

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #cbd5e1;
    width: 90px;
    height: 30px;
}

button:hover {
    background-color: #94a3b8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e2e8f0;
    flex: 1;
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex: 8;
    background-color: ##f9fafb;
}